body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.side-panel {
    width: 300px;
    transition: width 0.3s;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
}
.side-panel .content {
    padding: 20px;
    opacity: 1;
    transition: opacity 0.3s;
}

.main-content {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#leftPanel.ferme,
#rightPanel.ferme {
    width: 50px;
}


#leftPanel.ferme .content,
#rightPanel.ferme .content {
    opacity: 0;
    pointer-events: none;
}

.parametre_numerique {
    margin-bottom: 5px;
}

.bouton_image {
    border: none;
    background-color:transparent;
}

.messagebulle {  /*pas comme une infobulle apparait seulement avec un clique*/
    display:none;
    background-color: #b6c7c7;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-90%);
    width: 500%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    z-index: 5;
}
.messagebulle.visible{
    display:block;
}
.graph-container{
    z-index: 0;
    position: relative;
    padding-left: 20px;
    height: 90%;
    width: 100%;
}
.bouton{
    background-color: #8d0999de;
    border: 1px solid #f5f5f5;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 23px;
    
}
.bouton:hover{
    background-color: #740565;
}
.bouton:active{
    box-shadow: inset 0px 0px 5px #ffffff;
}
.valeur_numerique_entree{
    width: 100px;
}
.parametre_entree{
    padding-bottom: 10px;
}