.grillePrincipale {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 38px 1fr;
    grid-template-areas:
            "Nav Nav Nav"
            "Entree Graphe Sortie";
    gap: 5px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
}

.boiteGenerateurGraphique {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,238,255);
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
}

.parametreGraphique{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.CalculAnnexe{
    border: 2px;
}

.fenetre_calculette{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    gap: 3px;
    position: relative;
}

.boiteSortie output {
    color: blue;
}

.boiteCalculAnnexe{
    display: grid;
    grid-template-columns:2fr 3fr 2fr;
    background-color: black;
    gap: 3px;
    padding: 3px;
    border-radius: 10px;
}

.CalculAnnexe{
    display: flex;
    flex-direction: column;
    background-color: rgb(255,238,255);
    border-radius: 10px;
    padding: 5px;
    gap: 3px;
}

.infobullable{
    cursor: help;
}