.boiteGenerateurGraphique {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    gap: 10px;
    padding: 5px;
    border-radius: 3px;
}

.parametreGraphique{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.CalculAnnexe{
    border: 2px;
}

.fenetre_calculette{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1px;
    border-radius: 3px;
    gap: 1px;
    position: relative;
}

.boiteSortie output {
    color: blue;
}

.boiteCalculAnnexe{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 1px;
    padding: 1px;
    border-radius: 3px;
}


.CalculAnnexe{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    padding: 1px;
    gap: 1px;
}

.infobullable{
    cursor: help;
}

.cache{
    display:none;
}